<a href="https://colab.research.google.com/github/estalin01158/Artificialinteligencia/blob/main/Copia_de_Copia_de_Practica1ia26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sys
print(sys.version)

3.10.12 (main, Nov 20 2023, 15:14:05) [GCC 11.4.0]

In [ ]:
myNumber= 3
myNumberDecimal=3.6
state=True

In [ ]:
print(f'valor entero: {myNumber }')
print(f'valor decimal: {myNumberDecimal }')
print('valr bool es =',state)

valor entero: 3
valor decimal: 3.6
valr bool es = True

In [ ]:
aux1=10
aux2=2
print("la suma de las variables aux1 + aux2 =",aux1+aux2)

la suma de las variables aux1 + aux2 = 12

In [ ]:
aux1=10
aux2=2
print("la suma de las variables aux1 * aux2 =",aux1*aux2)

la suma de las variables aux1 * aux2 = 20

In [ ]:
aux1=10
aux2=2
print("la suma de las variables aux1 - aux2 =",aux1-aux2)

la suma de las variables aux1 - aux2 = 8

In [ ]:
aux1=10
aux2=2
print("la suma de las variables aux1 ** aux2 =",aux1**aux2)

la suma de las variables aux1 ** aux2 = 100

In [ ]:
var1='hola'
var2='!,estalin'

print(var1+var2)

hola!,estalin

In [ ]:
print(3*var1)

holaholahola

In [ ]:
num1=10
num2=10.5

In [ ]:
print('the type of the num1 is: ',type(num1))
print('the type of the num1 is: ',type(num2))

the type of the num1 is:  <class 'int'>
the type of the num1 is:  <class 'float'>

In [ ]:

#TUESDAY 24 JUNE 2024

In [ ]:
tmp=list()
tmp.append(2)
print(tmp)
tmp.append('estalin')
print(tmp)
tmp.append('toledo')
print(tmp)
tmp.append(10)
print(tmp)
print(tmp[3])
aux=tmp[2]
#aux.capitalize()
#print(aux.capitalize())
print(aux.upper())
tmp1='hello'
print(tmp1.capitalize())

aux1=[1,2,3,4,5,6,7,8,9,10]
print(aux1)
aux1[4]=10
print(aux1)
print(aux1[-1])
print(aux1[3:7])
print(aux1[0:4])
print(aux1[:5])

aux2=list()
for i in range(100):
  aux2.append(i)
print(aux2[:20])

aux3=list()
for indx, elem in enumerate(aux2):
  if aux2[indx]%2==0:
    aux3.append(aux2[indx])
print(aux3)

aux3=list()
for indx, elem in enumerate(aux2):
  if aux2[indx]%2==1:
    aux3.append(aux2[indx])
print(aux3)

aux3=list()
for indx, elem in enumerate(aux2):
  if aux2[indx]%2==0:
    aux3.append(aux2[indx]**2)
print(aux3)

animals=['cat','dog','monky','rabbit']
for animal in animals:
  print(animal)

  tmp3=[ i**2 for i in range(10)]
  print(tmp3)

  print(tmp3)

[2]
[2, 'estalin']
[2, 'estalin', 'toledo']
[2, 'estalin', 'toledo', 10]
10
TOLEDO
Hello
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 10, 6, 7, 8, 9, 10]
10
[4, 10, 6, 7]
[1, 2, 3, 4]
[1, 2, 3, 4, 10]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]
cat
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
dog
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
monky
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
rabbit
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
myDictionary={'cat':'cute','dog':'big','pollo':'amariilo'}
print(myDictionary[ 'pollo'])
myDictAux={'cat':'cute','dog':'big','pollo':'amariilo'}
myDictionary.update(myDictAux)
print(myDictionary)
for key, value in myDictionary.items():
  print(f'{key} value: {value}')

  myList=[1,2,3,4,5,6 ]
  myDictionaryAux1={x:x**2 for x in myList}
  print(myDictionaryAux1)

amariilo
{'cat': 'cute', 'dog': 'big', 'pollo': 'amariilo'}
cat value: cute
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
dog value: big
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
pollo value: amariilo
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
def suma(var1,var2,flag):
  if flag==True:
    tmp=var1+var2
  else:
    tmp=var1-var2
    resta
  return tmp
  pass


num1=3
num2=7
control=True
print(suma(num1,num2,control))

10

In [ ]:
listNumeros=[-1,+2,0 ]

def signo(mynumero):
 if numero>0:
   return"positivo"
 elif numero <0:
     return"negativo"
 else:
     return"no tiene signo"
for numero in listNumeros:
 print(f"el numero {numero} es {signo(numero)}")

el numero -1 es negativo
el numero 2 es positivo
el numero 0 es no tiene signo

In [ ]:
#SET AS A CONTAINER
var1=set()
var1.add(3)
print(var1)
var1.add('carlos')
var1.add(True)
print(var1)
var1.add(5)
print(var1)
var1.remove('carlos')
print(len(var1))

print(3 in var1)

for elem in var1:
  print(elem)

{3}
{True, 'carlos', 3}
{True, 'carlos', 3, 5}
3
True
True
3
5

In [ ]:
#TUPLES
var2=tuple()
var=(1,2,3,4,5)
print(type(var))
var_modificada = var[:3] + (11,) + var[4:]
print(var_modificada)

aux=list(var)
print(type(aux))

aux[ 2]=300
var=tuple(aux)
print(var)
print(type(var))

<class 'tuple'>
(1, 2, 3, 11, 5)
<class 'list'>
(1, 2, 300, 4, 5)
<class 'tuple'>

In [ ]:
from typing_extensions import Self
#HOY TO DEFINE A CLASS
class saludo(object):
 def __init__(self,name):
   print("el objeti ha sido creado")
   self.name=name

 def saludoPersonal(self):
    return f"hola,{self.name}"



name1=saludo('estalin')
name2=saludo('juan')
name3=saludo('fernando')

print(name1.saludoPersonal())
print(name2.saludoPersonal())
print(name3.saludoPersonal())

el objeti ha sido creado
el objeti ha sido creado
el objeti ha sido creado
hola,estalin
hola,juan
hola,fernando

In [ ]:
class circulo():
  def __init__(self, radio):
        self.radio = radio
  def calcular_area(self):
        area = 3.14159 * (self.radio ** 2)
        return area

circulo1 = circulo(5)
area_circulo = circulo1.calcular_area()
print(f"El área del círculo con radio {circulo1.radio} es: {area_circulo}")

El área del círculo con radio 5 es: 78.53975

In [ ]:
#CLASS

import math

class figuraGeometrica:
  def __init__(self,radio,base,altura):
    self.radio=radio
    self.base=base
    self.altura=altura

  def calcularAreaCirculo(self):
      areaCirculo = math.pi * self.radio **2
      return areaCirculo

figura = figuraGeometrica(radio=5, base=6, altura=4)
areaCirculo = figura.calcularAreaCirculo()
print(f'{areaCirculo:.2f}')

78.54

In [ ]:
class printingNameAge(object):
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def printUpper

student1=printingNameAge('estalin',23)

print(student1.name)
print(student1.age)

estalin
23

In [ ]:
class imprimir(object):
  def __init__(self,name,age):
    print("everything is well!!")
    self.name=name
    self.age=age
  def uppercase(self):
    return f"name: {self.name.upper()} and the age: {self.age}"

student1=imprimir('estalin',23)

print(student1.uppercase())

everything is well!!
name: ESTALIN and the age: 23